#IDE files
.idea/
*.iml
*.ipr
*.iws

#Gradle files
.gradle/
gradle-app.setting
settings.gradle~

#Build targets and binaries
target/
build/
*/build/
out/
lib/
*.class

tmp/

*.hprof


build.out
gradlew
gradlew.bat

examples/tutorial/todo-service/gradle/wrapper/gradle-wrapper.jar
examples/tutorial/todo-service/gradle/wrapper/gradle-wrapper.properties
qbit/jms/activemq-data/